// Colors //
$color--main: #f76234;
$color--body: #e7e3f1;
$color--secondary: #afa3d5;
$color--accent: #9d2710;
$color--title: #2e2c39;
$color--additional: #67A2A8;

//Margin, paddings//
$margin--btn: 1.5rem;
$padding--main: 2rem;

//Fonts//
$font--text: system-ui, sans-serif;
$font--title: "Sofia Sans", sans-serif;
$font--option: "Albert Sans", sans-serif;
$font--logo: "Oleo Script", system-ui;
$fontSize--text: 1.2rem;